/* شريط التنقل الثابت */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6D7B8D; /* لون جديد */
    color: #f0f0f0; /* لون جديد للنص */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px; /* تغيير الحجم */
    box-shadow: 0 2px 5px rgba(0, 0, 10, 1.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo img {
    height: 50px; /* تغيير الحجم */
    transition: transform 0.3s ease-in-out;
}



.logo img:hover {
    transform: scale(1.1); /* تكبير الشعار عند التمرير */
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 auto; /* تحريك حاوية البحث لتبقى في المنتصف */
}


.search-container input {
    padding: 10px; /* تغيير الحجم */
    font-size: 18px; /* تغيير الحجم */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 15px; /* تغيير الحجم */
    background-color: #ff6600; /* لون جديد */
    color: white;
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}




.search-container button:hover {
    background-color: #ff8533; /* لون جديد عند التمرير */
    transform: translateY(-3px); /* تحريك الزر للأعلى عند التمرير */
}

.language-switch {
    cursor: pointer;
    margin-right: 50px; /* تحريك زر تغيير اللغة إلى اليسار */
}

.language-switch span {
    font-size: 18px; /* تغيير الحجم */
    text-decoration: underline;
    padding: 10px 15px; /* تغيير الحجم */
    background-color: #28a745; /* لون جديد */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.language-switch span:hover {
    background-color: #218838; /* لون جديد عند التمرير */
    transform: translateY(-3px); /* تحريك الزر للأعلى عند التمرير */
}








/* التنسيق العام */

body {

    margin: 0;

    padding: 0;

    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    text-align: center;

}

/* تنسيق المنتجات */

.products-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    padding: 70px;

}

.product {

    margin: 20px;

    text-align: center;

    width: 250px;

    border: 1px solid #ddd;

    border-radius: 10px;

    background-color: #fff;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;

}

.product:hover {

    transform: scale(1.05);

}

.product-image {

    width: 100%;

    height: 250px;

    object-fit: cover;

    border-top-left-radius: 10px;

    border-top-right-radius: 10px;

}

.product-details {

    padding: 15px;

}

.price {

    color: #ff6600;

    font-weight: bold;

}

/* زر الإضافة إلى السلة */

.add-to-cart {

    background-color: #ff6600;

    color: #fff;

    border: none;

    padding: 10px 20px;

    font-size: 16px;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;

}

.add-to-cart:hover {

    background-color: #ff8533;

}

/* السلة العائمة */

.floating-cart {

    position: fixed;

    top: 70px;

    left: 10px;

    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 50px;

    padding: 10px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    transition: background-color 0.3s ease;
    z-index: 2000; /* تأكد من أن قيمة z-index أعلى من المنتجات */
}

.floating-cart:hover {

    background-color: rgba(255, 255, 255, 1);

}

.cart-icon img {

    width: 40px;

    height: 40px;
  }


.cart-details {

    margin-top: 5px;

}

/* سلة المشتريات المنسدلة */

.cart-dropdown {

    display: none;

    position: fixed;

    top: 115px;

    left: 30px;

    width: 300px;

    max-height: 400px;

    background-color: #fff;

    border-radius: 20px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    overflow-y: auto;

    z-index: 2000;

    transition: all 0.3s ease-in-out;

}

.cart-dropdown.show {

    display: block;

}

/* زر إغلاق السلة */

.cart-close-btn {

    position: sticky;

    top: 0;

    text-align: right;

    padding: 5px;

    font-size: 24px;

    color: #ff6600;

    cursor: pointer;

    background-color: transparent;

    border: none;

    z-index: 1002;

}

/* عناصر السلة */

.cart-item {

    display: flex;

    align-items: center;

    margin-bottom: 15px;

    padding: 1px;

    border-bottom: 2px solid #ddd;

}

.cart-item-image {

    width: 50px;

    height: 50px;

    margin-right: 10px;

    border-radius: 15px;

}

.cart-item-name {

    flex-grow: .5;

    font-size: 16px;

}

.cart-item-price {

    color: #555;

}

.delete-btn {
 flex-grow: .5;
    color: #FF0000;

}



/* زر إرسال الطلب */

#send-order {

    background-color: #ff6600;

    color: white;

    border: none;

    padding: 10px;

    width: 100%;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}

#send-order:hover {

    background-color: #ff8533;

}
